#containerListCustoOrcamento {
  display: grid;
  grid-template-areas:
    "btn-add-custo-orcamento"
    "list-custo-orcamento"
    "totais-custo-orcamento";
  padding: 5% 5% 5% 5%;
  color: white;
  background: rgb(68, 68, 68);
}

#btn-add-custo-orcamento {
  grid-area: btn-add-custo-orcamento;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#list-custo-orcamento {
  grid-area: list-custo-orcamento;
  max-height: 500px;
  height: 500px;
  padding: 1%;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid #fff;
  margin-bottom: 15px;
}

#btn-add-custo-orcamento > button {
  color: white;
  background-color: #d40808;
  width: 100%;
  border-color: #d40808;
}

#totais-custo-orcamento {
  grid-area: totais-custo-orcamento;
}

@media (max-height: 770px) and (min-width: 1200px) {
  #list-custo-orcamento {
    height: 260px;
  }
}

@media (min-width: 1200px) {
  #containerListCustoOrcamento {
    overflow-y: auto;
    padding: 0;
  }

  #totais-custo-orcamento {
    height: 135px;
  }
}
