.containerAddItensCartaCobertura {
  min-width: 95%;
  max-width: 0.1rem;
  margin: 0px 10px;
  border-radius: 5px;
}

.containerAddItensCartaCobertura .form {
  padding: 8%;
}

.btn-add-item {
  width: 100%;
  margin-top: 25px;
}

.carregando {
  height: 100%;
  width: 100%;
  margin-top: 25px;
}

.center {
  text-align: center;
}

.close-add {
  color: white;
  float: right;
  flex-grow: 1;
  font-size: 15px;
}

@media (min-width: 1200px) {
  .containerAddItensCartaCobertura {
    height: 100%;
    max-width: 0.1rem;
    min-width: 30%;
  }
}
