#containerModalVisualizacaoItensCartaCobertura {
  display: grid;
  grid-template-areas:
    "referencia-modal-visualizacao-itens-carta-cobertura"
    "tabela-tempo-fogo-modal-visualizacao-itens-carta-cobertura";
  grid-template-rows: 45px;
  min-width: 100%;
  max-width: 100%;
}

#referencia-modal-visualizacao-itens-carta-cobertura {
  grid-area: referencia-modal-visualizacao-itens-carta-cobertura;
}

#tabela-tempo-fogo-modal-visualizacao-itens-carta-cobertura {
  grid-area: tabela-tempo-fogo-modal-visualizacao-itens-carta-cobertura;
  display: flex;
  flex-direction: row;
}

.select-modal-visualizacao-itens-carta-cobertura {
  display: inline !important;
}

.estilo-body-modal-visualizacao-itens-carta-cobertura {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.titulo-modal-visualizacao-itens-carta-cobertura {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgb(68, 68, 68);
  height: 40px;
  color: #d40808;
  margin: 0 10px;
}

.titulo-linhas-modal-visualizacao-itens-carta-cobertura {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.excluir-modal-visualizacao-itens-carta-cobertura {
  margin: 0 10px;
}

.btn-excluir-modal-visualizacao-itens-carta-cobertura {
  width: 100%;
  margin-top: 10px;
}

.btn-aprovar-carta-cobertura {
  color: white;
  background-color: #ffc1078e !important;
  border-color: #ffc1078e;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.719);
}
