#containerOrcamentoGeral {
  padding: 3%;
  overflow-y: hidden;
}

.form-orcamento {
  height: auto;
  max-height: auto;
  overflow-y: hidden;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: #d40808;
  border-color: #d40808;
  font-weight: bold;
}

.nav-tabs a:hover {
  color: #d40808;
  border-color: #d40808;
}

a {
  color: #d40808;
}

@media (max-height: 770px) and (min-width: 1200px) {
  #containerOrcamentoGeral {
    height: 630px;
  }

  .form-orcamento {
    max-height: 600px !important;
  }
}

@media (min-width: 1200px) {
  .form-orcamento {
    height: 750px;
    max-height: 750px;
    overflow-y: auto;
  }
}
