#item-contato-telefone {
  width: 100%;
  height: 75px;
  background-color: rgb(68, 68, 68);
  margin-bottom: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "tipoContatoTelefone contatoPadraoTelefone"
    "contatoTelefone ramalTelefone";
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  text-align: center;
  padding: 5px;
}

.opcoes {
  margin: 5px 0px 15px 0px;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-areas: "editarContato excluirContato";
}

.editarContato {
  grid-area: editarContato;
  background-color: rgb(182, 182, 55);
  border-color: rgb(182, 182, 55);
  color: white;
  margin: 1px;
}

.excluirContato {
  grid-area: excluirContato;
  background-color: rgb(177, 36, 36);
  border-color: rgb(177, 36, 36);
  color: white;
  margin: 1px;
}

div#item-contato-telefone label {
  color: white;
}

#tipoContatoTelefone {
  grid-area: tipoContatoTelefone;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contatoPadraoTelefone {
  grid-area: contatoPadraoTelefone;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contatoTelefone {
  grid-area: contatoTelefone;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ramalTelefone {
  grid-area: ramalTelefone;
  display: flex;
  align-items: center;
  justify-content: center;
}
