#containerRegCartaCobertura {
  display: grid;
  grid-template-areas:
    "busca-material-carta-cobertura"
    "cadastro-basico-carta-cobertura"
    "container-itens-carta-cobertura"
    "confirmar-acao";
  grid-template-rows: 80px auto 425px 100px;
  overflow-x: hidden;
  width: 98%;
}

#busca-material-carta-cobertura {
  grid-area: busca-material-carta-cobertura;
  width: 100%;
  height: 100%;
  padding: 3%;
}

#cadastro-basico-carta-cobertura {
  grid-area: cadastro-basico-carta-cobertura;
  display: grid;
  grid-template-areas: "cadastro-basico-carta-cobertura-aux";
  padding: 3%;
}

#container-itens-carta-cobertura {
  grid-area: container-itens-carta-cobertura;
  padding: 3%;
  padding-top: 0%;
}

#confirmar-acao {
  grid-area: confirmar-acao;
  padding: 5% 3%;
}

textarea {
  min-height: 150px;
}

@media (max-width: 1200px) and (min-width: 700px) {
  #containerRegCartaCobertura {
    grid-template-rows: 85px 40% 500px 80px;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  #containerRegCartaCobertura {
    grid-template-rows: 85px 30% auto 80px;
    height: 100%;
  }

  #cadastro-basico-carta-cobertura-aux {
    grid-area: cadastro-basico-carta-cobertura-aux;
    display: grid;
    grid-template-areas:
      "id-material nome-material descricao-material"
      "fabricante fabricante descricao-material";
    grid-template-rows: 50% 50%;
    grid-template-columns: 20% 40% 40%;
    padding: 1%;
  }

  #fabricante {
    grid-area: fabricante;
    padding: 0px 10px 0px 7px;
  }

  #container-itens-carta-cobertura {
    grid-area: container-itens-carta-cobertura;
    padding: 3%;
    padding-top: 0%;
  }

  #confirmar-acao {
    padding: 0% 3%;
  }

  textarea {
    min-height: 75%;
    max-height: 75%;
  }
}
