#containerListItensOrcamentoGeral {
  display: grid;
  grid-template-areas:
    "btn-add-item-orcamento-geral"
    "list-itens-orcamento-geral"
    "totais-itens-orcamento-geral";
  overflow-y: hidden;
  padding: 5% 5% 5% 5%;
  color: white;
  background: rgb(68, 68, 68);
}

#btn-add-item-orcamento-geral {
  grid-area: btn-add-item-orcamento-geral;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#list-itens-orcamento-geral {
  grid-area: list-itens-orcamento-geral;
  max-height: 500px;
  height: 500px;
  padding: 1%;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #fff;
  margin-bottom: 15px;
}

#totais-itens-orcamento-geral {
  grid-area: totais-itens-orcamento-geral;
  height: auto;
}

#btn-add-item-orcamento-geral > button {
  color: white;
  background-color: #d40808;
  width: 100%;
  border-color: #d40808;
}

.close-modal {
  font-size: 1.5rem;
  color: white;
  float: right;
}

@media (min-width: 1200px) {
  #containerListItensOrcamentoGeral {
    overflow-y: auto;
    padding: 0;
  }

  #totais-itens-orcamento-geral {
    height: 135px;
  }
}
