.item-carta-cobertura {
  background-color: rgb(68, 68, 68);
  min-height: 150px;
  max-height: 150px;
  margin: 3px 0px;
  padding: 7px 5px 10px 10px;
  border-radius: 10px;
}

.item-carta-cobertura .row {
  margin: 0px;
  font-size: 0.8rem;
  width: 100%;
  color: white;
}

.titulo-item-carta-cobertura {
  font-weight: bold;
}

.item-carta-cobertura .row label {
  width: 100%;
}

.btn-selecionar-carta-cobertura {
  width: 100%;
}
