.estiloPadraoToast {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.estiloToastSucesso {
  background-color: #218838;
  color: white;
  font-weight: bold;
}

.estiloToastErro {
  background-color: #d40808;
  color: white;
  font-weight: bold;
}
