.estiloPadraoToast {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 11%;
  margin-right: 10px;
  z-index: 1070;
}

.estiloToastSucesso {
  background-color: #218838;
  color: white;
  font-weight: bold;
}

.estiloToastErro {
  background-color: #B50707;
  color: white;
  font-weight: bold;
}

.estiloToastPadrao {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.close {
  flex-grow: 1;
  text-align: right;
  color: white;
  font-weight: bold;
}

.close:hover {
  color: white;
}

@media (min-width: 1200px) {
  .estiloPadraoToast {
    top: 0;
    margin-top: 0px;
  }
}
