#containerOrcamentoIntumescente {
  height: 90%;
  padding: 3%;
  overflow-y: hidden;
}

.conteudo-aba-orcamento {
  height: 100%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: #d40808;
  border-color: #d40808;
  font-weight: bold;
}

.nav-tabs a:hover {
  color: #d40808;
  border-color: #d40808;
}

a {
  color: #d40808;
}

@media (max-height: 770px) and (min-width: 1200px) {
  #containerOrcamentoIntumescente {
    height: 630px;
  }
}
