#containerBasicRegOrcamento {
  display: grid;
  grid-template-areas:
    "cadastro-orcamento"
    "informacoes-cliente-orcamento"
    "acoes-cadastro-orcamento";
  padding: 5%;
  background: rgb(68, 68, 68);
  color: white;
}

#cadastro-orcamento {
  grid-area: cadastro-orcamento;
}

#informacoes-cliente-orcamento {
  grid-area: informacoes-cliente-orcamento;
}

#acoes-cadastro-orcamento {
  grid-area: acoes-cadastro-orcamento;
  padding-top: 3%;
}

#campo-orcamentoId {
  width: 30% !important;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.msg-erro-orcamento {
  position: relative;
}

#container-cliente {
  display: grid;
  grid-template-areas:
    "busca-cliente"
    "principal-cliente";
  grid-template-rows: 70px auto;
}

#busca-cliente {
  grid-area: busca-cliente;
}

#principal-cliente {
  grid-area: principal-cliente;
}

#informacoes-cliente-orcamento fieldset {
  max-height: 100%;
}

#contato-cliente-orcamento {
  background-color: #e3e3e3;
  max-height: 250px;
  min-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3%;
  border: 2px solid #e3e3e3;
}

.container-item-contato-cliente-orcamento {
  height: 80px;
  background-color: rgb(68, 68, 68);
  margin: 10px 0;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

.sub-fieldset {
  height: 100%;
}

#btn-buscar-cliente {
  width: 100%;
  background-color: #d40808;
  border-color: #d40808;
  color: white;
}

.div-btn-buscar-cliente {
  display: none;
}
#containerBasicRegOrcamento .form {
  height: auto;
}

.btn-float-right {
  margin-left: 10px;
}

.close-orcamento {
  color: white;
  float: right;
  flex-grow: 1;
}

.form-orcamento{
  background-color: rgb(68, 68, 68);
  width: 100%;
  height: 100%;
  padding: 5%;
  color: white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .div-btn-buscar-cliente {
    display: block;
  }

  .form-orcamento{
    height: 75%;
  }

  #containerBasicRegOrcamento {
    max-height: 800px;
    overflow-y: auto;
    border-bottom: 2px solid rgb(68, 68, 68);
  }

  #containerBasicRegOrcamento .form {
    min-height: auto;
  }
}

@media (min-width: 1600px) {
  .form-orcamento{
    height: 100%;
  }
}