#containerSearchOrcamento {
  display: grid;
  grid-template-areas:
    "filtro-orcamento"
    "list-orcamento";
  grid-template-rows: 120px auto;
  width: 98%;
  height: 100%;
}

#filtro-orcamento {
  grid-area: filtro-orcamento;
  padding: 3%;
}

#list-orcamento {
  grid-area: list-orcamento;
  padding: 3%;
  height: 750px;
}
