#containerSearchOrcamento {
  display: grid;
  grid-template-areas:
    "filtro-orcamento"
    "list-orcamento";
  grid-template-rows: 120px calc(100vh - 160px);
  height: 70%;
  overflow: hidden;
}

#filtro-orcamento {
  grid-area: filtro-orcamento;
  padding: 3%;
}

#list-orcamento {
  grid-area: list-orcamento;
  padding: 3%;
  height: 100%;
}

@media (min-width: 1200px) {
  #containerSearchOrcamento {
    grid-template-rows: 120px auto;
    height: 100%;
  }
}
