#containerItensCartaCobertura {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2%;
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  height: 5px;
}

#button-add {
  margin: 0px 10px;
  height: 100%;
}

#button-add button {
  height: 100%;
}

@media (min-width: 1200px) {
}
