.form-row {
  margin-bottom: 30px;
}

.col {
  position: initial !important;
}

.div-rg {
  margin-bottom: 30px;
}

.btn-options {
  width: 100px;
  margin-left: 10px;
  float: right;
}

.form-group {
  margin-bottom: 0.5rem;
}

@media (min-width: 1200px) {
  .div-rg {
    margin-bottom: 0px;
  }
}
