#containerEquipamento {
  display: grid;
  grid-template-areas:
    "busca-equipamento"
    "principal-equipamento";
  grid-template-rows: 80px auto auto auto;
  overflow-x: hidden;
}

#busca-equipamento {
  grid-area: busca-equipamento;
  width: 100%;
  height: 100%;
  padding: 3%;
}

#principal-equipamento {
  grid-area: principal-equipamento;
  padding: 3%;
  padding-top: 0%;
  min-height: 20%;
}

@media (min-width: 1200px) {
  #containerEquipamento {
    grid-template-rows: 120px calc(100% - 120px);
    width: 98%;
  }
  
  #principal-equipamento {
    height: 75%;
  }
}

@media (min-width: 1600px) {
  #principal-equipamento {
    height: 90%;
  }
}