.fieldset-perfil-modal-item-intumescente {
  max-height: 100%;
}

#search-perfil-modal-itens-intumescente {
  margin-top: 15px !important;
}

#container-search-perfil-modal-orcamento-intumescente {
  max-height: 67px;
}

#margin-top-button-calcular-modal-item-intumescente {
  margin-top: 30px;
}
