#btn-buscar-equipamento {
  width: 100%;
  background-color: #d40808;
  border-color: #d40808;
  color: white;
}

.div-buscar-equipamento {
  display: none;
}

.col-8,
.col-4 {
  position: static;
}

@media (min-width: 1200px) {
  .div-buscar-equipamento {
    display: block;
  }
}
