#input-linha-item-orcamento-geral {
  color: white;
  font-weight: bold;
}

.input-numero-linha {
  display: inline;
  width: 100px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
}

#informacoes-material-orcamento-geral {
  display: grid;
  grid-template-areas:
    "busca-material-orcamento-geral"
    "principal-material-orcamento-geral";
  grid-template-rows: 70px auto;
}

#busca-material-orcamento-geral {
  grid-area: busca-material-orcamento-geral;
}

#principal-material-orcamento-geral {
  grid-area: principal-material-orcamento-geral;
}

.fieldset-height-100 {
  max-height: 100%;
}

#btn-buscar-material {
  width: 100%;
  background-color: #B50707;
  border-color: #B50707;
  color: white;
}

.form-modal-item-orcamento-geral {
  padding: 2% 5%;
  color: white;
}

.div-btn-buscar-material {
  display: none;
}

.modal-body-item-orcamento-geral {
  max-height: 75vh !important;
}

@media (max-height: 770px) {
  .modal-body-item-orcamento-geral {
    max-height: 400px !important;
  }
}

@media (min-width: 1200px) {
  .div-btn-buscar-material {
    display: block;
  }

  .modal-body-item-orcamento-geral {
    max-height: 730px;
  }
}
