#item-contato {
  width: 100%;
  height: 75px;
  background-color: rgb(68, 68, 68);
  margin-bottom: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "tipoContato contatoPadrao"
    "contato contatoPadrao";
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  text-align: center;
}

div#item-contato label {
  color: white;
}

.campo-contato {
  height: 30%;
}

.label-contato {
  font-weight: bold;
  margin-right: 5px;
}
