.form-people {
  background-color: rgb(68, 68, 68);
  width: 100%;
  height: 100%;
  padding: 5%;
  color: white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

#input-pessoa-id {
  width: 30% !important;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.label-codigo {
  margin-right: 10px;
}

.close-select-people {
  color: white;
  float: right;
  flex-grow: 1;
}

button.btn.btn-primary {
  float: right;
}

.container-form {
  flex-grow: 2;
  order: 1;
}

.btn-salvar {
  order: 2;
  flex-grow: 0;
  bottom: 0;
}

@media (min-width: 1200px) {
  .form-people {
    min-height: 100%;
    max-height: 10px;
    overflow-y: auto;
  }
}
