#containerItensOrcamentoGeral {
  overflow-y: auto;
}

#btn-add-item-orcamento-geral {
  grid-area: btn-add-item-orcamento-geral;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#list-itens-orcamento-geral {
  grid-area: list-itens-orcamento-geral;
  height: 500px;
  padding: 3%;
  background-color: #fff;
  border-radius: 10px;
}

#totais-itens-orcamento-geral {
  grid-area: totais-itens-orcamento-geral;
  border: 2px red solid;
  height: 150px;
}

#btn-add-item-orcamento-geral > button {
  color: white;
  background-color: #d40808;
  width: 100%;
  border-color: #d40808;
  width: 100%;
}

.close-modal {
  font-size: 1.5rem;
  color: white;
  float: right;
}
