
#campo-custoId {
  width: 30% !important;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.close-select-custo {
  color: white;
  float: right;
  flex-grow: 1;
}

.form-custos {
  background-color: rgb(68, 68, 68);
  width: 100%;
  height: 100%;
  padding: 5%;
  color: white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.container-form {
  flex-grow: 2;
  order: 1;
}

.options {
  float: right;
}

.position-initial {
  position: initial !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

#containerBasicRegCusto .form {
  padding-bottom: 0px !important;
}

@media (min-width: 1200px) {
  .form-custos {
    overflow-y: scroll;
  }
}
