.form-check-inline {
  margin: 15px 30px 15px 30px !important;
}

div.form-group div.check {
  text-align: center;
  z-index: 999;
}

.btn-options {
  width: 100px;
  margin-left: 10px;
  float: right;
}

.col-xl-6 {
  position: initial !important;
}

@media (min-width: 1200px) {
  input.form-check-input {
  }
}
