#quadrado-endereco {
  max-height: 250px;
  width: 100%;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  border: rgb(68, 68, 68) solid 2px;
}

#quadrado-endereco::-webkit-scrollbar-thumb {
  background: white;
  border-right: 1px rgb(68, 68, 68);
}
#quadrado-endereco::-webkit-scrollbar-track {
  background-color: rgb(68, 68, 68);
}

.btn-adicionar {
  margin: 10px;
  float: right;
}

@media (min-width: 1200px) {
  #quadrado-endereco {
    max-height: 80%;
    padding: 10px;
  }
}
