#container-endereco {
  height: 250px;
  width: 100%;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: rgb(68, 68, 68) solid 2px;
}

.btn-adicionar {
  margin: 10px;
  float: right;
}

.endereco-vazio {
  width: 100%;
  height: 100%;
  color: #B50707;
  font-weight: bold;
  display: flex;
}

p {
  justify-content: center;
}

#campo-enderecoId {
  color: white;
  font-weight: bold;
}

@media (min-width: 1200px) {
  #container-endereco {
    height: 80%;
    padding: 10px;
  }
}
