#container-result-equipamento {
  display: none;
  max-height: 322px;
  background-color: #d40808;
  color: white;
  z-index: 1002;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
}

.show-result {
  display: list-item !important;
  position: relative !important;
}

.result-cabecalho {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid white;
}

.container-result-equipamento:hover {
  background-color: darkred;
  border-radius: 10px;
}

.container-result-equioamento {
  margin: 5px;
  cursor: pointer;
}

.col-5,
.col-2 {
  position: initial !important;
}

.item-result {
  margin: 10px 0px;
}

#item-codigo {
  text-align: center;
}
.item-center {
  text-align: center;
}

@media (min-width: 1200px) {
  #container-result-equipamento {
    position: relative;
    max-height: 150px;
  }
}
