.App {
  display: grid;
  grid-template-areas:
    "topBar"
    "body";
  grid-template-rows: 40px auto;
  position: relative;
}

#sideBar {
  grid-area: topBar;
  background-color: #e3e3e3;
  width: 100%;
  position: fixed;
  height: 40px;
}

#body {
  width: 100%;
  grid-area: body;
  background-color: #e3e3e3;
}

@media (min-width: 1200px) {
  .App {
    display: grid;
    grid-template-areas: "sideBar body";
    grid-template-columns: 20% auto;
  }

  #sideBar {
    grid-area: sideBar;
    background-color: #d40808;
    height: 100vh;
    padding: 0px;
    width: 20%;
  }

  #body {
    float: right;
    height: 100vh;
    position: fixed;
    width: 80%;
    margin-left: 20%;
    overflow-y: auto;
  }

  #body::-webkit-scrollbar {
    display: none;
  }
}
