.App {
  display: grid;
  grid-template-areas:
    "topBar"
    "body";
  grid-template-rows: 40px auto;
  position: relative;
}

#sideBar {
  grid-area: topBar;
  background-color: #e3e3e3;
  width: 100%;
  position: fixed;
  height: 40px;
}

#body {
  width: 100%;
  grid-area: body;
  background-color: #e3e3e3;
}

.col-mobile-esconder {
  display: none;
}

.invalid-feedback {
  width: auto !important;
  margin-top: 0 !important;
  color: #d40808;
  font-weight: bold;
}

.form {
  color: white;
  padding: 5%;
}

.btn-100-px {
  width: 100px;
  margin-left: 10px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.btn-float-right {
  float: right;
}

.btn-orcamentaria {
  background-color: #d40808;
  border-color: #d40808;
  color: white;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-body {
  max-height: 100vh;
  overflow-y: auto;
}

@media (min-width: 1200px) {
  .App {
    display: grid;
    grid-template-areas: "sideBar body";
    grid-template-columns: 20% auto;
  }

  #sideBar {
    grid-area: sideBar;
    background-color: #d40808;
    height: 100vh;
    padding: 0px;
    width: 20%;
  }

  #body {
    float: right;
    height: 100vh;
    position: fixed;
    width: 80%;
    margin-left: 20%;
    overflow: hidden;
  }

  #body::-webkit-scrollbar {
    display: none;
  }

  .col-mobile-esconder {
    display: block;
  }

  .modal-body {
    max-height: 730px;
  }
}

<<<<<<< HEAD
label {
=======
.col {
>>>>>>> 4e4d04c3126d1e6424e3201f7e55fab292d105df
  color: white;
}

label {
  color: white;
}
