#containerPeople {
  display: grid;
  grid-template-areas:
    "busca"
    "principal"
    "contato"
    "endereco";
  grid-template-rows: 60px auto auto auto;
  overflow-x: hidden;
  width: 98%;
}

#busca {
  grid-area: busca;
  width: 100%;
  height: 100%;
  padding: 3%;
}

#principal {
  grid-area: principal;
  padding: 3%;
  min-height: 20%;
}

#contato {
  grid-area: contato;
  padding: 3%;
}

#endereco {
  grid-area: endereco;
  padding: 3%;
}

@media (min-width: 1200px) {
  #containerPeople {
    display: grid;
    grid-template-areas:
      "busca busca"
      "principal contato"
      "principal endereco";
    grid-template-columns: 50% auto;
    grid-template-rows: 10% 45% 45%;
    height: 100%;
  }

  #principal {
    grid-area: principal;
    padding: 8% 6%;
  }

  #contato {
    grid-area: contato;
    padding: 8% 6% 0% 3%;
  }

  #endereco {
    grid-area: endereco;
    padding: 0% 6% 0% 3%;
  }
}
