#item-contato-email {
  width: 100%;
  height: 75px;
  background-color: rgb(68, 68, 68);
  margin-bottom: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "tipoContatoEmail contatoPadraoEmail"
    "contatoEmail contatoEmail";
  grid-template-rows: 50% 50%;
  text-align: center;
}

.opcoes {
  margin: 5px 0px 15px 0px;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-areas: "editarContato excluirContato";
}

.editarContato {
  grid-area: editarContato;
  background-color: rgb(182, 182, 55);
  border-color: rgb(182, 182, 55);
  color: white;
  margin: 1px;
}

.excluirContato {
  grid-area: excluirContato;
  background-color: rgb(177, 36, 36);
  border-color: rgb(177, 36, 36);
  color: white;
  margin: 1px;
}

div#item-contato-email label {
  color: white;
}

#tipoContatoEmail {
  grid-area: tipoContatoEmail;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contatoPadraoEmail {
  grid-area: contatoPadraoEmail;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contatoEmail {
  grid-area: contatoEmail;
  display: flex;
  align-items: center;
  justify-content: center;
}
